@font-face {
    font-family: finalSix;
    src: url(../fonts/FinalSixBlack.ttf);
    font-weight: 900;
}

@font-face {
    font-family: finalSix;
    src: url(../fonts/FinalSixBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: finalSix;
    src: url(../fonts/FinalSixMedium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: finalSix;
    src: url(../fonts/FinalSixBook.ttf);
    font-weight: 400;
}

@font-face {
    font-family: finalSix;
    src: url(../fonts/FinalSixExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: finalSix;
    src: url(../fonts/FinalSixLight.ttf);
    font-weight: 400;
}

@font-face {
    font-family: finalSix;
    src: url(../fonts/FinalSixThin.ttf);
    font-weight: 300;
}
